th.p-sortable-column{
    white-space: nowrap !important;
}

.p-column-header-content{
    justify-content: center !important;
}

input.p-column-filter {
    width: 80% !important;
}

.p-paginator .p-dropdown-items{
     display: inline-flex !important;
}

.datatableCalendar{
    top: 0px !important;
    min-width: 20vw !important;
}

@media screen and (min-width: 600px) and (max-width: 670px){
    .datatableCalendar{
        min-width: 55vw !important;
    }
}

@media screen and (min-width: 670px) and (max-width: 745px){
    .datatableCalendar{
        min-width: 50vw !important;
    }
}

@media screen and (min-width: 745px) and (max-width: 835px){
    .datatableCalendar{
        min-width: 45vw !important;
    }
}

@media screen and (min-width: 835px) and (max-width: 960px){
    .datatableCalendar{
        min-width: 40vw !important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1120px){
    .datatableCalendar{
        min-width: 35vw !important;
    }
}

@media screen and (min-width: 1120px)  and (max-width: 1340px){
    .datatableCalendar{
        min-width: 30vw !important;
    }
}


@media screen and (min-width: 1340px)  and (max-width: 1670px){
    .datatableCalendar{
        min-width: 25vw !important;
    }
}

.p-datatable-row .p-datepicker{
    position: fixed;
    display: flex !important;
    min-width: unset;
    top: unset  !important;
    left: 30% !important;
    right: 30% !important;
}



.datatable-responsive-demo .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

@media screen and (max-width: 45rem) {
    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-thead > tr > th,
    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tfoot > tr > td {
        display: none !important;
    }

    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td {
        text-align: left;
        display: block;
        width: 100%;
        float: left;
        clear: left;
        border: 0 none;
    }

    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
        padding: .4rem;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4rem;
        font-weight: bold;
    }

    .datatable-responsive-demo .p-datatable.p-datatable-responsive-demo .p-datatable-tbody > tr > td:last-child {
        border-bottom: 1px solid var(--surface-d);
    }
}